html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  
  
}


.container{
  padding: 10px;
  width: 98%;
  height: 100%;
 background-color: azure;
}

.header{
  padding: 10px;
  width: 98%;
  justify-content: space-between;
  display: flex;
  
  
  height: 5%;
}

.navbar__main__container{
  
  height: 99%;
  display: flex;
  
  
}
.main{
  width: 100%;
  height: 90%;
  border: 2px solid rgb(18, 18, 19);
  background-color:royalblue;
display: flex;
justify-content: space-between;
flex-direction: column;
}
.navbar__body{
 width: 15%;
 height: 100%;
  display: flex;
 flex-direction: column;
 justify-content: space-between;
 
  background-color:#e0e0e0
}

.navbar__items{

display: flex;

justify-content:space-between;
height: 70%;
  
  }
.navbar__contacts{
  height: 30%;
 
  
} 
.main__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar__items{
 display: flex;
}
.footer{
  display: flex;
  align-self: flex-end;
  width: 5%;
  
}
.foter h4{
  align-content: center;
}
.content{
  display: flex;
 
}